@{
    ViewBag.Title = "Cours";
    Layout = "~/Views/Shared/AdminsLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>
                        <a href="~/Admins/Index">Accueil</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                        Gestion pédagogique
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                        Cours
                    </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row column4 graph">
                    <div class="col-md-12">
                        <div class="dash_blog">
                            <div class="dash_blog_inner">
                                <div class="dash_head" style="text-align:center;">
                                    <h3 style="font-weight:bold;"><span><i class="fa fa-briefcase "></i> COURS</span></h3>
                                </div><br />
                                <div class="task_list_main">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="white_shd full margin_bottom_30">
                                                    <div class="full graph_head" style="background-color:lightskyblue">
                                                        <div class="heading1 margin_0">
                                                            <h2>
                                                                <i style="color:white;">
                                                                    <i class="fa fa-edit"></i>
                                                                    Année scolaire 2021-2022
                                                                </i>
                                                            </h2>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11" style="border:1px solid; border-radius:5px;margin-top:16px;">
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <small>
                                                                            <b>
                                                                                <em><i class="fa fa-list"></i> Aptitudes/Attitudes et Savoir Être Professionnel</em>
                                                                            </b> | Semestre 5

                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <small class="text-muted pull-right">
                                                                        LPG | Licence 3 | L.3-B-Soir-Hekima.1
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-6">
                                                                    <div class="row justify-content-center">
                                                                        <span><b style="color:#000; font-size:18px;">Anglais des affaires</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2"></div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <small class="text-muted pull-left">
                                                                            <i class="fa fa-user"></i>
                                                                            El Hadji Madior CISSE &nbsp;| &nbsp;  Statut : <b>Suivi</b> &nbsp; | <b>20 H</b> de volume horaire

                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row justify-content-end" style="color: #D9534F;">
                                                                        [Pas de syllabus]
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11" style="border:1px solid; border-radius:5px;">
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <small>
                                                                            <b>
                                                                                <em><i class="fa fa-list"></i> Aptitudes/Attitudes et Savoir Être Professionnel</em>
                                                                            </b> | Semestre 5

                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <small class="text-muted pull-right">
                                                                        LPG | Licence 3 | L.3-B-Soir-Hekima.1
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-6">
                                                                    <div class="row justify-content-center">
                                                                        <span><b style="color:#000; font-size:18px;">Techniques de recherche d’emploi</b></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2"></div>
                                                            </div>
                                                            <div class="row justify-content-center">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <small class="text-muted pull-left">
                                                                            <i class="fa fa-user"></i>
                                                                            Philippe MEYA &nbsp;| &nbsp;  Statut : <b>Suivi</b> &nbsp; | <b>20 H</b> de volume horaire

                                                                        </small>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row justify-content-end" style="color: #D9534F;">
                                                                        [Pas de syllabus]
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard inner -->
</div>


