@{
    ViewBag.Title = "Frais_payes";
    Layout = "~/Views/Shared/AdminsLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>
                        <a href="~/Admins/Index">Accueil</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                        Frais payés
                    </h2>
                </div>
            </div>
        </div>
        <div class="row column4 graph">
            <div class="col-md-12">
                <div class="dash_blog">
                    <div class="dash_blog_inner">
                        <div class="dash_head" style="text-align:center;">
                            <h3 style="font-weight:bold;"><span><i class="fa fa-check-circle"></i> FRAIS PAYÉS</span></h3>
                        </div><br />
                        <div class="task_list_main">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="white_shd full margin_bottom_30">
                                            <div class="full graph_head" style="background-color:lightseagreen;">
                                                <div class="heading1 margin_0">
                                                    <h2>
                                                        <i style="color:white;">
                                                            <i class="fa fa-edit"></i>
                                                            Les dernières notes obtenues
                                                        </i>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="ex1">
                                                    <hr />
                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11" id="note">
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-10">
                                                                    <div class="float-left">
                                                                        <div style="display: inline !important; font-family: inherit; font-size: 14px !important; line-height: inherit; color: #000000;" class="font-lg">
                                                                            Frais de scolarité &nbsp;- Novembre
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <b class="font-grey-gallery " style="font-size: 14px!important; font-weight:bold; color:#000000;">
                                                                            25 000&nbsp; à payer avant le 05/11/2022
                                                                        </b>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row justify-content-end">
                                                                        <div class="font-green" style="color:green;">
                                                                            Soldé le 04/11/2022
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-10">
                                                                    <div class="float-left">
                                                                        <small class="text-muted" style="font-size: 10px!important;">
                                                                            Quittancé le 04/11/2022 sous le numéro QUITTANCE-1-2022-11-26901
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="row justify-content-center">
                                                        <div class="col-md-11" id="note">
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <div style="display: inline !important; font-family: inherit; font-size: 14px !important; line-height: inherit; color: #000000;" class="font-lg">
                                                                            Droit d'inscription
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row justify-content-end">
                                                                        <span class="badge badge-danger">Obligatoire</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-5">
                                                                    <div class="float-left">
                                                                        <b class="font-grey-gallery " style="font-size: 14px!important; font-weight:bold; color:#000000;">
                                                                            45 000
                                                                        </b>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5">
                                                                    <div class="row justify-content-end">
                                                                        <div class="font-green" style="color:green;">
                                                                            Soldé le 04/11/2022
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row justify-content-center" style="margin-top:5px;">
                                                                <div class="col-md-10">
                                                                    <div class="float-left">
                                                                        <small class="text-muted" style="font-size: 10px!important;">
                                                                            Quittancé le 04/11/2022 sous le numéro QUITTANCE-1-2022-11-26901
                                                                        </small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard inner -->
</div>
<style>
    div.ex1 {
        height: 250px;
        width: 1920px;
        overflow-y: scroll;
    }

    #note {
        border: 1px solid;
        border-radius: 5px;
    }

    .badge {
        border-radius: 20px;
        height: 18px;
        font-size: 12px;
    }

    .dash_blog_inner {
        border: 1px solid #15283c;
        border-radius: 8px;
    }
</style>

