
@{
    ViewBag.Title = "Tests";
    Layout = "~/Views/Shared/EtudiantsLayout.cshtml";
}

<div class="midde_cont">
    <div class="container-fluid">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>
                        <a href="~/Etudiants/Index">Accueil</a>
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                        Tests d'entrée
                    </h2>
                </div>
            </div>
        </div>
        <div class="row column4 graph">
            <div class="col-md-12">
                <div class="dash_blog">
                    <div class="dash_blog_inner">
                        <div class="dash_head" style="text-align:center;">
                            <h3 style="font-weight:bold;"><span><i class="fa fa-comments"></i> TESTS D'ENTRÉE</span></h3>
                        </div><br />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end dashboard inner -->
</div>
<style>
    #modifier, #details, #supprimer {
        border-radius: 100px;
    }

    #legend {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 0px;
        width: 35%;
        border: 2px double #15283c;
        border-radius: 8px;
        padding: 5px 5px 5px 10px;
        color: #15283c;
        background-color: #fff;
        text-align: center;
    }

    #fieldset {
        border: 1px solid #15283c !important;
        margin: 0;
        min-width: 0;
        padding: 10px;
        position: relative;
        border-radius: 8px;
        background-color: #fff;
        padding-left: 10px !important;
    }

    #nav-admission-tab, #nav-dossiers-tab, #nav-preinscription-tab, #nav-inscription-tab {
        border-radius: 100px;
    }

    .horizontal-line {
        border-bottom: 1px dashed #ff5722;
        display: inline-block;
        width: 65%;
    }

    #title_infos_activite {
        color: #ff5722;
        font-size: 16px;
    }
</style>



